
html
{
font-family: verdana, tahoma, sans-serif;
font-size: 11px;
color: #000000;
}

body
{
background-color: #ffffff;
margin: 0px 0px 0px 0px;
text-align: center;
}

.normal
{
background-color:#ffffff;
}

.green
{
background-color:#00ff00;
color           :#000000;
}

.red
{
background-color:#ff0000;
color           :#000000;
}

.critical
{
background-color:#ff0000;
}

.highlight
{
background-color:#e07630;
}

#container
{
#width: 760px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

a:link {color: #e07630; text-decoration: underline;}
a:visited {color: #e07630; text-decoration: underline;}
a:hover {color: #e07630; text-decoration: none;}
a:active {color: #e07630; text-decoration: underline;}

h1
{
margin-top: 0px;
font-size: 160%;
color: #666666;
}

h2
{
font-size: 140%;
color: #666666;
}

h3
{
font-size: 120%;
color: #666666;
}

p{}

#top
{
width: 100%;
display: table;
padding: 10px 0px 10px 0px;
border-bottom: 20px solid #a8a8a8;
}

#top #logo
{
float: left;
width: 150px;
margin: 0px 0px 0px 5px;
}

#top #header
{
float: right;
width: 600px;
text-align: right;
font-size: 220%;
font-weight: bold;
margin: 25px 4px 0px 0px;
color: #666666;
}

#content
{
width: 760px;
display: table;
clear: both;
margin: 10px 0px 0px 0px;
}

/* nav */
#nav
{
float: left;
width: 170px;
}

#nav ul
{
list-style: none;
padding: 0px;
margin: 0px;
font-size: 10px;
font-weight: bold;
color: #ffffff;
}

#nav li
{
margin: 6px 0px 6px 0px;
background-color: #e07630;
}

#nav li a:link
{
display: block;
padding: 10px;
color: #ffffff;
text-decoration: none;
}

#nav li a:visited
{
display: block;
padding: 10px;
color: #ffffff;
text-decoration: none;
}

#nav li a:hover
{
display: block;
padding: 10px;
color: #ffffff;
text-decoration: none;
background-color: #f0c030;
}

#nav li a:active
{
display: block;
padding: 10px;
color: #ffffff;
text-decoration: none;
}

/* end: nav */
#content_body
{
width: 575px;
float: right;
}

#footer
{
width: 100%;
border-top: 10px solid #a8a8a8;
margin: 10px 0px 10px 0px;
color: #606060;
font-size: 94%;
}

#footer #column_01
{
width: 75px;
float: left;
margin: 10px 0px 0px 5px;
}

#footer #column_02
{
width: 580px;
float: left;
margin: 16px 10px 0px 10px;
}

form
{
margin: 0px;
}

input.searchtext
{
border: 1px solid #b0b0b0;
background-color: #ffffcc;
padding: 0px 4px 0px 4px;
height: 21px;
width: 98px;
}

input.searchbutton
{
border: 1px solid #b0b0b0;
cursor: pointer;
}

#searchform_01
{
width: 100%;
margin: 10px 0px 0px 0px;
border: 1px solid #b0b0b0;
display: table;
padding-bottom: 10px;
}

#searchform_01 form
{
padding: 10px;
}

#searchform_02
{
width: 100%;
margin: 10px 0px 0px 0px;
border: 1px solid #b0b0b0;
display: table;
padding-bottom: 10px;
}

#searchform_02 form
{
padding: 10px;
}
